assignment/hidden/
assignment/03. automatic speaker vericiation/hidden/
assignment/03. automatic speaker vericication/.ipynb_checkpoints
assignment/03. automatic speaker vericication/.ipynb_checkpoints
.idea/*

